.card{
    display: flex;
    flex-direction: column;
}

.card__image{
    width: 282px;
    height: 282px;
    border-radius: 10px 10px 0 0;
}

.card__description{
    display: flex;
    background-color: white;
    color: black;
    padding: 25px 20px 25px 20px;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
}

.card__description-text{
    max-width: 220px;
    line-height: 29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    font-family: inherit;
    font-size: 24px;
    font-weight: 900;
}

.card__like-button{
    background: transparent url(../images/like-button-inactive.svg) center no-repeat;
    width: 21px;
    height: 18px;
    border-style: none;
}

.card__like-button:hover{
    opacity: 50%;
    cursor: pointer;
}

