.cards__list{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-gap: 20px 17px;
    list-style-type: none;
    padding: 0;
    margin: 60px 0 0;
}

@media screen and (max-width: 620px){
    .cards__list{
        margin: 30px 0 0 0;
    }
}

@media screen and (max-width: 900px) and (min-width: 621px){
    .cards__list{
        margin: 40px 0 0 0;
    }
}