.header__logo {
    max-width: 173px;
    max-height: 33px;
    margin: 45px 0 41px;
}

header{
    display: block;
    border-bottom: 1px solid #545454;
    flex-grow: 1;
}

@media screen and (max-width: 595px) and (min-width: 200px){
    .header__logo {
        margin: 30px 0 30px 30px;
        max-width: 126px;
        max-height: 24px;
    }
}